/* Define card styles */
.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: white;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 3px 3px 3px gray;
	padding: 10px;
	height: 200px;
	width: 150px;
	margin: 10px;
	font-size: 1.2em;
	text-align: center;
  }
  
  .card .top {
	font-size: 3em;
  }
  
  .card .bottom {
	font-size: 3em;
	text-align: right;
  }
  
  .card .center {
	font-size: 5em;
	text-align: center;
  }
  
  /* Define container styles */
  .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  }
  